/* Common start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common end */

.container {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Awesome text start */

svg {
  width: 100%;
  height: 100%;
  font-size: 10rem;
}

.clone {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 8% 30%;
  stroke-dashoffset: 0%;
  animation: anim 6s linear infinite alternate;
}

.one {
  stroke: #2a6fdb;
  animation-delay: -1s;
}

.two {
  stroke: #54d2d2;
  animation-delay: -2s;
}

.three {
  stroke: #ffcb00;
  animation-delay: -3s;
}

.four {
  stroke: #c7417b;
  animation-delay: -4s;
}

.five {
  stroke: #ffc107;
  animation-delay: -5s;
}

/* Awesome text start */

.drag-disable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Animations start */

@keyframes anim {
  100% {
    stroke-dashoffset: -100%;
  }
}

/* Animations end */
